{% extends "base.html" %}

{% block title %}
    Dataset
{% endblock title %}

{% block content %}
<div class="d-flex justify-content-center" xmlns="http://www.w3.org/1999/html">
        <div class="row mx-3">
            <div class="col-9">
                <div class="overflow-auto bg-light" style="max-height: 500px;">
                    {% for d in dataset %}
                        <p class="pl-3">{{d}}</p>
                        <hr>
                    {% endfor %}
                </div>
            </div>
            <div class="col-3">
                <p>There are <b>{{len_dataset}}</b> documents in collection <b>{{collection_name}}</b></p>
            </div>
        </div>
    </div>
    <form class="d-flex p-5 justify-content-center" action="{{url_for('sentiments')}}" method="post" enctype="multipart/form-data">
        <input type="hidden" id="collectionName" name="collectionName" value="{{collection_name}}">
        <input type="submit" class="btn sButton mx-3" value="Next step: Sentiment analysis">
        <a href="{{url_for('index')}}" class="btn sButton">Back</a>
    </form>

    <script>

    </script>
{% endblock content %}
