{% extends "base.html" %}

{% block title %}
    Home
{% endblock title %}

{% block content %}
    <form class="d-flex p-2 justify-content-center" action="{{url_for('data')}}" method="post" enctype="multipart/form-data">
        <div class="custom-file w-25">
            <input type="file" class="custom-file-input" id="customFile" name="dataset">
            <label class="custom-file-label" for="customFile"></label>
        </div>

        <button type="submit">Go</button>
    </form>

    <h1>Available collections:</h1>
    <h5>{{collections}}</h5>

    <script type="application/javascript">
        $('input[type="file"]').change(function(e){
            var fileName = e.target.files[0].name;
            $('.custom-file-label').html(fileName);
        });
    </script>

{% endblock content %}
