{% extends "base.html" %}

{% block title %}
    Sentiments
{% endblock title %}

{% block extra_scripts %}
    <script src="{{ url_for('static', filename ='js/sentiment.js') }}" type="text/javascript"></script>
{% endblock extra_scripts %}

{% block content %}
    <script>
        var cntValues = {{ sentiments_count }}
    </script>
    <div class="d-flex justify-content-center">
        <div class="row mx-3">
            <div class="col-8">
                <div class="overflow-auto bg-light" style="max-height: 500px;">
                    <table class="table">
                      <thead>
                        <tr>
                          <th scope="col">Review</th>
                          <th scope="col">Rate</th>
                          <th scope="col">Sentiment</th>
                        </tr>
                      </thead>
                      <tbody>
                        {% for d, s in sentiments_dataset %}
                        <tr>
                          <td>{{d}}</td>
                          <td>{{s}}</td>
                          <td>
                              {% if s == 1 %}
                            <img class="emojiLogo" src="{{url_for('static', filename = 'imgs/angry.png')}}">
                            {% elif s == 2 %}
                            <img class="emojiLogo" src="{{url_for('static', filename = 'imgs/confusion.png')}}">
                            {% elif s == 3 %}
                            <img class="emojiLogo" src="{{url_for('static', filename = 'imgs/meh.png')}}">
                            {% elif s == 4 %}
                            <img class="emojiLogo" src="{{url_for('static', filename = 'imgs/guino.png')}}">
                            {% else %}
                            <img class="emojiLogo" src="{{url_for('static', filename = 'imgs/happy.png')}}">
                            {% endif %}
                          </td>
                        </tr>
                        {% endfor %}
                      </tbody>
                    </table>
                </div>
            </div>
            <div class="col-3">
                <canvas id="sentimentsChart" width="20" height="20" role="img" aria-label="p4"></canvas>
                <hr>
                <p> The mean score is <b>{{mean_sentiment}}</b>.</p>

                {% if mean_sentiment|round(0, 'ceil')|int == 1 %}
                <img class="emojiLogoSm" src="{{url_for('static', filename = 'imgs/angry.png')}}">
                {% elif mean_sentiment|round(0, 'ceil')|int  == 2 %}
                <img class="emojiLogoSm" src="{{url_for('static', filename = 'imgs/confusion.png')}}">
                {% elif mean_sentiment|round(0, 'ceil')|int  == 3 %}
                <img class="emojiLogoSm" src="{{url_for('static', filename = 'imgs/meh.png')}}">
                {% elif mean_sentiment|round(0, 'ceil')|int  == 4 %}
                <img class="emojiLogoSm" src="{{url_for('static', filename = 'imgs/guino.png')}}">
                {% else %}
                <img class="emojiLogoSm" src="{{url_for('static', filename = 'imgs/happy.png')}}">
                {% endif %}

            </div>
        </div>
    </div>
    <form class="d-flex p-5 justify-content-center" action="{{url_for('tfidf')}}" method="post" enctype="multipart/form-data">
        <input type="hidden" id="collectionName" name="collectionName" value="{{collection_name}}">
        <input type="submit" class="btn sButton mx-3" value="Next step: TF-IDF">
        <a href="{{url_for('index')}}" class="btn sButton">Back</a>
    </form>
{% endblock content %}
